body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 20px auto 0 auto;
    /*width: 300px;*/
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

/****************************************
 * general purpose css-only components  *
 ****************************************/

.interview-panel {
    background-color: #fff;

    border: 1px solid rgba(154, 154, 154, 0.98);

    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;

    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;

    margin-bottom: 20px;
    padding: 10px 10px 20px 10px;

    overflow: hidden;
}

.interview-panel > h4 {
    background-color: #E5E5E5;
    margin: -10px -10px 10px -10px;
    padding: 10px 10px 10px 10px;
}


.interview-right {
    text-align: right;
}
