<div class="hero-unit">
  <h4>Интервью</h4>
  <p>
    Чтобы создать или отредактировать интервью, перейдите на закладку "Интервью" и выберите интервью из списка
    или нажите на кнопку "Добавить", чтобы начать редактировать новое интервью. После того как вы отредактировали
    интервью, не забывайте нажать на копку "Сохранить", чтобы вы не потеряли результат своей работы. Когда вы нажмете
    на кноюпку "Сохранить", вы перейдет в режим просмотра интервью. Вы можете вернуться в режим редактирования или
    перейти к списку всех интервью.
  </p>
  <br>
  <h4>Список интервью</h4>
  <p>
    Чтобы увидеть список всех интервью, нажмите на кнопку "К Списку" из режима просмотра интервью. Вы можете вернуться
    в режим редактирования, нажав на кнопку "Редактировать".
  </p>
  <br>
  <h4>Пользователи</h4>
  <p>
    Чтобы добавить нового пользователя или найти существующего, перейдите к закладке "Пользовтель". Нажав на кнопку
    "Добавить", вы сможете создать новую запись пользователя, дав ему имя (логин) и пароль. С помощью заданного имени
    и пароля, пользователь сможет войти в программу "Кабинет Психолога" и пройти интервью. Для прохождения интервью
    достаточно присвоить пользователю роль "пользователь".
  </p>
</div>
