<div class="interview-panel">
    <h4>Интервью</h4>

    <h5>{{template.name}}</h5>
    <textarea class="input-xxlarge" readonly>{{template.description}}</textarea>
    <div ng-show="template.active">Активное!</div>
    <table class='table table-hover table-striped'>
        <tr>
            <th>Вопрос</th><th>Характеристика</th><th>Тип</th><th>Значение</th>
        </tr>
        <tr ng-repeat="question in template.questions">
            <td>{{question.text}}</td>
            <td>{{question.trait | traitname}}</td>
            <td>{{question.type | questiontypename}}</td>
            <td>{{question.valueType | valuetypename}}</td>
        </tr>
    </table>

    <form ng-submit="edit()" class="form-horizontal">
        <div class="form-actions">
            <button class="btn" ng-click="cancel()">К списку</button>
            <button class="btn btn-primary">Редактировать</button>
        </div>
    </form>
</div>
