<div class="front-office-bkg img-rounded">
</div>


<form class="form-horizontal" name="mainForm">
    <div class="modal">
        <div class="modal-header">
            <h3>Регистрация</h3>
        </div>

        <div class="modal-body">
            <div class="well">
                <tabset>
                    <tab heading="Войти">
                        <div class="tab-pane">
                            <div ng-form="loginForm" class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="username">логин</label>
                                    <div class="controls">
                                        <input type="text" id="username" name="username" focus ng-model='username' placeholder="имя"
                                               class="input-xlarge" required>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="password">пароль</label>
                                    <div class="controls">
                                        <input type="password" id="password" name="password" ng-model='password' placeholder="secret"
                                               class="input-xlarge" required>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <button class="btn btn-success" ng-click="login(username, password)"
                                                ng-disabled="loginForm.$invalid">Войти</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Создать Запись">

                        <div class="tab-pane">
                            <div ng-form="createForm" class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label"  for="newusername">логин</label>
                                    <div class="controls">
                                        <input type="text" id="newusername" name="newusername" ng-model='newusername' placeholder="имя"
                                               class="input-xlarge" required>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="new_password">пароль</label>
                                    <div class="controls">
                                        <input type="password" id="new_password" name="new_password" ng-model='new_password' placeholder="secret"
                                               class="input-xlarge" required>
                                    <span class='help-inline' ng-show='createForm.new_password.$valid'>
                                      <i class='icon-ok'></i>
                                    </span>
                                    </div>
                                </div>

<!--
                                <div class="control-group">
                                    <label class="control-label" for="password_conf">подтвердите пароль</label>
                                    <div class="controls">
                                        <input type="password" id="password_conf" name="password_conf" ng-model='password_conf' placeholder="newsecret"
                                               class="input-xlarge" same-as='new_password' required >
                                    	        <span class='help-inline' ng-show='createForm.password_conf.$valid'>
                                                  <i class='icon-ok'></i>
                                                </span>
                                    </div>
                                </div>
-->

                                <div class="control-group">
                                    <label class="control-label"  for="name">полное имя</label>
                                    <div class="controls">
                                        <input type="text" id="name" ng-model="fullName" placeholder="Ваше Полное Имя" class="input-xlarge">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label"  for="email">почта</label>
                                    <div class="controls">
                                        <input type="text" id="email" ng-model="email" placeholder="yourname@home.com" class="input-xlarge">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <button class="btn btn-primary" ng-click="create()"
                                                ng-disabled="createForm.$invalid">Создать Запись</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>

        <div class="modal-footer">
            <div>
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
            <button class="btn"
                    ng-click="cancel()">Отмена</button>
        </div>


    </div>
</form>


