<div class="front-office-bkg img-rounded">
</div>

<div class="front-office-modal hero-unit">
  <h4 class="text-center">Программа "Кабинет психографии"</h4>
  <h5 class="text-center">Оцените Ваше представления о себе.</h5>
  <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Базисным регулятором жизнедеятельности
      человека является его представление о самом себе,
      его Я-Образ. В большинстве случаев он представлен в сознании аморфно-синкретически, как
      самочувствие, самооценка. При попытках его более-менее развернуто вербализовать нередко
      обнаруживается расхождение между тем, как мы представляем самих себе, и тем, что думают
      о нас другие.
  </p>
  <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;В данном случае предлагается процедура
      сопоставления двух вариантов Я-образа (Эго-профиля).
      Сначала, используя 7-балльную шкалу оцените себя по приведенному перечню 18-ти параметров.
      Затем ответьте на 5 вопросников. В результате Вы получите два варианта эго-профиля.
      Сравните их, вычислив сумму разности по всем параметрам. Если сумма модулей различий будет
      больше 50, или если разница в оценках по отдельным параметрам будет больше 4, рекомендуется
      обратиться за консультатцией в психологическую службу ВУЗа для продолжения обследования.
  </p>
  <form ng-submit="login()">
    <div class="text-center">
      <button class="btn btn-info">Войти в кабинет</button>
    </div>
  </form>
</div>
