<div class="container front-office-bkg img-rounded">
    <div class="row-fluid">
        <div class="">

            <h1 class="margin-base-vertical">Hello!</h1>

            <p>
                Someone told me long ago there's a calm before the storm. I know, It's been comin for some time.
            </p>
            <p>
                When it's over, so they say, it'll rain a sunny day. I know,    Shinin down like water.
            </p>

            <p>
                I want to know, have you ever seen the rain?
            </p>

            <form ng-submit="login()">
                <div>
                    <button class="btn btn-primary">Войти в кабинет</button>
                </div>
            </form>
        </div>
    </div>
</div>
